@import url('./__description/card__description.css');
@import url('./__image/card__image.css');
@import url('./__like-button/card__like-button.css');
@import url('./__like-button/_is-active/card__like-button_is-active.css');
@import url('./__delete-button/card__delete-button.css');
@import url('./__title/card__title.css');

.card {
  font-family: 'Inter', Arial, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.popup__input {
  margin-bottom: 20px;
}

.popup__input:invalid {
  border-color: red;
}

.popup__error {
  color: #FF0000;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 10px;
  height: 12px;
}

.popup__button:disabled {
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  color: #C4C4C4; 
  cursor: not-allowed;
}

